
/* Estilos para el contenedor del componente Inicio */
.inicio-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Estilos para la imagen de fondo */
.fondo-imagen {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* Estilos para la superposición */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 103%;
  height: 117%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F27F3D;
}

/* Estilos para el texto "Bienvenidos" */
.texto-bienvenidos {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Lexend';
  margin-bottom: 20px;
}

/* Estilos para el texto de la imagen */
.texto-imagen {
  font-size: 13px;
  font-family: 'Lexend';
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Estilos para el botón */
.button {
  padding: 14px 50px;
  font-size: 20px;
  cursor: pointer;
  background-color: #F28D23;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  font-family: 'Lexend';
  margin-bottom: 20px;
  animation: moveButton 2s infinite alternate;
}

/* Estilos para el texto de la fuente de información */
.texto-fuente {
  font-size: 9px;
  font-family: 'Lexend';
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
}

/* Media Queries para ajustar el diseño en pantallas más grandes */
@media (min-width: 768px) {
  .texto-bienvenidos {
    font-size: 28px;
  }

  .texto-imagen {
    font-size: 14px;
  }

  .button {
    font-size: 20px;
  }

  .texto-fuente {
    font-size: 14px;
  }
}
